# ?????????? ????????? ?????, ???? ? ??????
.vscode/
.idea/
.vs/
.git/

# ????????? ???????????????? ???????? ?????
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# ?????????? ????? ??????? Visual Studio
*.sln
*.VC.db
*.sdf
*.opensdf
*.generated.*
*.ilk
*.pdb
*.exp
*.log

# ?????????? ????? Unreal Engine, ??????? ?? ????? ? ???????????
Config/DefaultEditor.ini
Config/DefaultEngine.ini
Config/DefaultGame.ini
Config/DefaultInput.ini
Config/DefaultGameUserSettings.ini

# ????????? ????????? ?????
New Text Document.txt
.vsconfig